---
layout: default
---

{{ content }}

<div class="projects">

  <h2>Projects</h2>

  <ul>
{% for project in site.projects %}
    <li>
      <div class="thumb"><a href="{{ project.link | relative_url }}" onclick="ga('send', 'event', 'Click', 'CallToAction', 'QuantEcon.py')"><img src="{{ site.baseurl }}assets/{{project.image}}" alt=" "></a></div>
      <h3><a href="{{ project.link | relative_url }}" onclick="ga('send', 'event', 'Click', 'CallToAction', '{{ project.name }}')">{{ project.name }}</a></h3>
      <p class="desc">{{ project.description | markdownify }}</p>
    </li>
{% endfor %}
  </ul>

</div>

<hr>

<div class="news">

  <h2>Latest news</h2>

  <ul>
{% for post in site.posts limit: 3 %}
    <li>
      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
      <div class="summary">{{ post.excerpt }}</div>
    </li>
{% endfor %}
  </ul>

  <p class="more"><a href="{{ '/news' | relative_url }}">Read more</a></p>

</div>




